name: Ethical Check

on:
  push:
    branches:
      - main

jobs:
  ethicalcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Ethical Check
        uses: apisec-inc/ethicalcheck-action@master  # Updated to a public version
        with:
          args: --check-api
